{#{% extends "::base.html.twig" %}#}

{#{% block title %}AppBundle:NivelesRestController:getNiveles{% endblock %}#}

{#{% block body %}#}
{#<h1>Welcome to the NivelesRestController:getNiveles page</h1>#}
{#{% endblock %}#}
